In [1]:
import numpy as np
import pandas as pd
import pymongo
from pymongo import MongoClient
import re

In [2]:
country_wise=pd.read_csv(r'C:\Users\Umer Khan\Downloads\ETL\country_wise_latest.csv')
country_wise.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,NewCases,NewDeaths,NewRecovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [3]:
worldometer_data=pd.read_csv(r'C:\Users\Umer Khan\Downloads\ETL\worldometer_data.csv')
worldometer_data.head()

,Country,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa

In [4]:
day_wise=pd.read_csv(r'C:\Users\Umer Khan\Downloads\ETL\day_wise.csv')
day_wise.head()

,Date,Confirmed,Deaths,Recovered,Active,NewCases,NewDeaths,NewRecovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries,WHO Region
0,1/22/2020,555,17,28,510,0,0,0,3.06,5.05,60.71,6,Eastern Mediterranean
1,1/23/2020,654,18,30,606,99,1,2,2.75,4.59,60.00,8,Europe
2,1/24/2020,941,26,36,879,287,8,6,2.76,3.83,72.22,9,Africa
3,1/25/2020,1434,42,39,1353,493,16,3,2.93,2.72,107.69,11,Europe
4,1/26/2020,2118,56,52,2010,684,14,13,2.64,2.46,107.69,13,Africa

# ENRICHMENT, CONVERSION

In [5]:
country_wise.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country/Region          187 non-null    object
 1   Confirmed               187 non-null    int64
 2   Deaths                  187 non-null    int64
 3   Recovered               187 non-null    int64
 4   Active                  187 non-null    int64
 5   NewCases                187 non-null    int64
 6   NewDeaths               187 non-null    int64
 7   NewRecovered            187 non-null    int64
 8   Deaths / 100 Cases      187 non-null    float64
 9   Recovered / 100 Cases   187 non-null    float64
 10  Deaths / 100 Recovered  187 non-null    float64
 11  Confirmed last week     187 non-null    int64
 12  1 week change           187 non-null    int64
 13  1 week % increase       187 non-null    float64
 14  WHO Region              187 non-null    object
dtypes: float64(4), int64(9), object(2)
memory usage: 22.0+ KB

In [6]:
worldometer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country           209 non-null    object
 1   Continent         208 non-null    object
 2   Population        208 non-null    float64
 3   TotalCases        209 non-null    int64
 4   NewCases          4 non-null      float64
 5   TotalDeaths       188 non-null    float64
 6   NewDeaths         3 non-null      float64
 7   TotalRecovered    205 non-null    float64
 8   NewRecovered      3 non-null      float64
 9   ActiveCases       205 non-null    float64
 10  Serious,Critical  122 non-null    float64
 11  Tot Cases/1M pop  208 non-null    float64
 12  Deaths/1M pop     187 non-null    float64
 13  TotalTests        191 non-null    float64
 14  Tests/1M pop      191 non-null    float64
 15  WHO Region        184 non-null    object
dtypes: float64(12), int64(1), object(3)
memory usage: 26.2+ KB

In [7]:
day_wise.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    188 non-null    object
 1   Confirmed               188 non-null    int64
 2   Deaths                  188 non-null    int64
 3   Recovered               188 non-null    int64
 4   Active                  188 non-null    int64
 5   NewCases                188 non-null    int64
 6   NewDeaths               188 non-null    int64
 7   NewRecovered            188 non-null    int64
 8   Deaths / 100 Cases      188 non-null    float64
 9   Recovered / 100 Cases   188 non-null    float64
 10  Deaths / 100 Recovered  188 non-null    float64
 11  No. of countries        188 non-null    int64
 12  WHO Region              187 non-null    object
dtypes: float64(3), int64(8), object(2)
memory usage: 19.2+ KB

In [8]:
worldometer_data.isna().sum()

Country               0
Continent             1
Population            1
TotalCases            0
NewCases            205
TotalDeaths          21
NewDeaths           206
TotalRecovered        4
NewRecovered        206
ActiveCases           4
Serious,Critical     87
Tot Cases/1M pop      1
Deaths/1M pop        22
TotalTests           18
Tests/1M pop         18
WHO Region           25
dtype: int64

In [9]:
day_wise.isna().sum()

Date                      0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
NewCases                  0
NewDeaths                 0
NewRecovered              0
Deaths / 100 Cases        0
Recovered / 100 Cases     0
Deaths / 100 Recovered    0
No. of countries          0
WHO Region                1
dtype: int64

In [10]:
country_wise.isna().sum()

Country/Region            0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
NewCases                  0
NewDeaths                 0
NewRecovered              0
Deaths / 100 Cases        0
Recovered / 100 Cases     0
Deaths / 100 Recovered    0
Confirmed last week       0
1 week change             0
1 week % increase         0
WHO Region                0
dtype: int64

# Convert the datatype of count from object to float then calculate mean, and then replace values with mean

In [11]:
def calculate_mean_from_range(value):
    # Use regular expression to extract numeric values
    matches = re.findall(r'(\d+\.?\d*)', str(value))
    
    # Convert extracted values to float and calculate the mean
    numeric_values = [float(match) for match in matches]
    
    if numeric_values:
        average = sum(numeric_values) / len(numeric_values)
        return average
    else:
        return float('nan')

# Apply the custom function to the 'Confirmed' column
day_wise  ['Confirmed'] = day_wise['Confirmed'].apply(calculate_mean_from_range)

# Now, 'Confirmed' column contains mean values, replace NaN values with the overall mean
overall_mean = day_wise['Confirmed'].mean(skipna=True)
day_wise['Confirmed'].fillna(overall_mean, inplace=True)

# Display the modified DataFrame
print(day_wise)

          Date   Confirmed  Deaths  Recovered   Active  NewCases  NewDeaths  \
0    1/22/2020       555.0      17         28      510         0          0
1    1/23/2020       654.0      18         30      606        99          1
2    1/24/2020       941.0      26         36      879       287          8
3    1/25/2020      1434.0      42         39     1353       493         16
4    1/26/2020      2118.0      56         52     2010       684         14
..         ...         ...     ...        ...      ...       ...        ...
183  7/23/2020  15510481.0  633506    8710969  6166006    282756       9966
184  7/24/2020  15791645.0  639650    8939705  6212290    281164       6144
185  7/25/2020  16047190.0  644517    9158743  6243930    255545       4867
186  7/26/2020  16251796.0  648621    9293464  6309711    204606       4104
187  7/27/2020  16480485.0  654036    9468087  6358362    228693       5415

     NewRecovered  Deaths / 100 Cases  Recovered / 100 Cases  \
0               0                3.06                   5.05
1               2                2.75                   4.59
2               6                2.76                   3.83
3               3                2.93                   2.72
4              13                2.64                   2.46
..            ...                 ...                    ...
183        169714                4.08                  56.16
184        228736                4.05                  56.61
185        219038                4.02                  57.07
186        134721                3.99                  57.18
187        174623                3.97                  57.45

     Deaths / 100 Recovered  No. of countries             WHO Region
0                     60.71                 6  Eastern Mediterranean
1                     60.00                 8                 Europe
2                     72.22                 9                 Africa
3                    107.69                11                 Europe
4                    107.69                13                 Africa
..                      ...               ...                    ...
183                    7.27               187                 Africa
184                    7.16               187  Eastern Mediterranean
185                    7.04               187                 Africa
186                    6.98               187                 Africa
187                    6.91               187                    NaN

[188 rows x 13 columns]

In [12]:
day_wise = pd.DataFrame(day_wise)
day_wise.head(3)

,Date,Confirmed,Deaths,Recovered,Active,NewCases,NewDeaths,NewRecovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries,WHO Region
0,1/22/2020,555.0,17,28,510,0,0,0,3.06,5.05,60.71,6,Eastern Mediterranean
1,1/23/2020,654.0,18,30,606,99,1,2,2.75,4.59,60.00,8,Europe
2,1/24/2020,941.0,26,36,879,287,8,6,2.76,3.83,72.22,9,Africa

In [13]:
# Function to extract and calculate mean from range values
def calculate_mean_from_range(value):
    # Use regular expression to extract numeric values
    matches = re.findall(r'(\d+\.?\d*)', str(value))
    
    # Convert extracted values to float and calculate the mean
    numeric_values = [float(match) for match in matches]
    
    if numeric_values:
        average = sum(numeric_values) / len(numeric_values)
        return average
    else:
        return float('nan')

# Apply the custom function to the 'Confirmed' column
country_wise['Confirmed'] = country_wise['Confirmed'].apply(calculate_mean_from_range)

# Now, 'Confirmed' column contains mean values, replace NaN values with the overall mean
overall_mean = country_wise['Confirmed'].mean(skipna=True)
country_wise['Confirmed'].fillna(overall_mean, inplace=True)

# Display the modified DataFrame
print(country_wise)

         Country/Region  Confirmed  Deaths  Recovered  Active  NewCases  \
0           Afghanistan    36263.0    1269      25198    9796       106
1               Albania     4880.0     144       2745    1991       117
2               Algeria    27973.0    1163      18837    7973       616
3               Andorra      907.0      52        803      52        10
4                Angola      950.0      41        242     667        18
..                  ...        ...     ...        ...     ...       ...
182  West Bank and Gaza    10621.0      78       3752    6791       152
183      Western Sahara       10.0       1          8       1         0
184               Yemen     1691.0     483        833     375        10
185              Zambia     4552.0     140       2815    1597        71
186            Zimbabwe     2704.0      36        542    2126       192

     NewDeaths  NewRecovered  Deaths / 100 Cases  Recovered / 100 Cases  \
0           10            18                3.50                  69.49
1            6            63                2.95                  56.25
2            8           749                4.16                  67.34
3            0             0                5.73                  88.53
4            1             0                4.32                  25.47
..         ...           ...                 ...                    ...
182          2             0                0.73                  35.33
183          0             0               10.00                  80.00
184          4            36               28.56                  49.26
185          1           465                3.08                  61.84
186          2            24                1.33                  20.04

     Deaths / 100 Recovered  Confirmed last week  1 week change  \
0                      5.04                35526            737
1                      5.25                 4171            709
2                      6.17                23691           4282
3                      6.48                  884             23
4                     16.94                  749            201
..                      ...                  ...            ...
182                    2.08                 8916           1705
183                   12.50                   10              0
184                   57.98                 1619             72
185                    4.97                 3326           1226
186                    6.64                 1713            991

     1 week % increase             WHO Region
0                 2.07  Eastern Mediterranean
1                17.00                 Europe
2                18.07                 Africa
3                 2.60                 Europe
4                26.84                 Africa
..                 ...                    ...
182              19.12  Eastern Mediterranean
183               0.00                 Africa
184               4.45  Eastern Mediterranean
185              36.86                 Africa
186              57.85                 Africa

[187 rows x 15 columns]

In [14]:
day_wise = pd.DataFrame(country_wise)
day_wise.head(3)

,Country/Region,Confirmed,Deaths,Recovered,Active,NewCases,NewDeaths,NewRecovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263.0,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880.0,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973.0,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa

In [15]:
# Function to extract and calculate mean from range values
def calculate_mean_from_range(value):
    # Use regular expression to extract numeric values
    matches = re.findall(r'(\d+\.?\d*)', str(value))
    
    # Convert extracted values to float and calculate the mean
    numeric_values = [float(match) for match in matches]
    
    if numeric_values:
        average = sum(numeric_values) / len(numeric_values)
        return average
    else:
        return float('nan')

# Apply the custom function to the 'TotalCases' column
worldometer_data['TotalCases'] = worldometer_data['TotalCases'].apply(calculate_mean_from_range)

# Now, 'TotalCases' column contains mean values, replace NaN values with the overall mean
overall_mean = worldometer_data['TotalCases'].mean(skipna=True)
worldometer_data['TotalCases'].fillna(overall_mean, inplace=True)

# Display the modified DataFrame
print(worldometer_data)

                   Country      Continent    Population  TotalCases  NewCases  \
0                      USA  North America  3.311981e+08   5032179.0       NaN
1                   Brazil  South America  2.127107e+08   2917562.0       NaN
2                    India           Asia  1.381345e+09   2025409.0       NaN
3                   Russia         Europe  1.459409e+08    871894.0       NaN
4             South Africa         Africa  5.938157e+07    538184.0       NaN
..                     ...            ...           ...         ...       ...
204             Montserrat  North America  4.992000e+03        13.0       NaN
205  Caribbean Netherlands  North America  2.624700e+04        13.0       NaN
206       Falkland Islands  South America  3.489000e+03        13.0       NaN
207           Vatican City         Europe  8.010000e+02        12.0       NaN
208         Western Sahara         Africa  5.986820e+05        10.0       NaN

     TotalDeaths  NewDeaths  TotalRecovered  NewRecovered  ActiveCases  \
0       162804.0        NaN       2576668.0           NaN    2292707.0
1        98644.0        NaN       2047660.0           NaN     771258.0
2        41638.0        NaN       1377384.0           NaN     606387.0
3        14606.0        NaN        676357.0           NaN     180931.0
4         9604.0        NaN        387316.0           NaN     141264.0
..           ...        ...             ...           ...          ...
204          1.0        NaN            10.0           NaN          2.0
205          NaN        NaN             7.0           NaN          6.0
206          NaN        NaN            13.0           NaN          0.0
207          NaN        NaN            12.0           NaN          0.0
208          1.0        NaN             8.0           NaN          1.0

     Serious,Critical  Tot Cases/1M pop  Deaths/1M pop  TotalTests  \
0             18296.0           15194.0          492.0  63139605.0
1              8318.0           13716.0          464.0  13206188.0
2              8944.0            1466.0           30.0  22149351.0
3              2300.0            5974.0          100.0  29716907.0
4               539.0            9063.0          162.0   3149807.0
..                ...               ...            ...         ...
204               NaN            2604.0          200.0        61.0
205               NaN             495.0            NaN       424.0
206               NaN            3726.0            NaN      1816.0
207               NaN           14981.0            NaN         NaN
208               NaN              17.0            2.0         NaN

     Tests/1M pop      WHO Region
0        190640.0        Americas
1         62085.0        Americas
2         16035.0  South-EastAsia
3        203623.0          Europe
4         53044.0          Africa
..            ...             ...
204       12220.0             NaN
205       16154.0             NaN
206      520493.0             NaN
207           NaN          Europe
208           NaN          Africa

[209 rows x 16 columns]

In [16]:
worldometer_data = pd.DataFrame(worldometer_data)
worldometer_data.head(3)

,Country,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179.0,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562.0,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409.0,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia

# Calculating the mean of Count_median,Count_min,Count_max and replace with NaN

In [17]:
# Calculate the mean of the column
mean_value = day_wise['NewDeaths'].mean()
# Replace null values with the mean
day_wise['NewDeaths'].fillna(mean_value, inplace=True)

# Calculate the mean of the column
mean_value = day_wise['NewCases'].mean()
# Replace null values with the mean
day_wise['NewCases'].fillna(mean_value, inplace=True)

# Calculate the mean of the column
mean_value = day_wise['NewRecovered'].mean()
# Replace null values with the mean
day_wise['NewRecovered'].fillna(mean_value, inplace=True)

day_wise.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,NewCases,NewDeaths,NewRecovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263.0,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880.0,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973.0,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907.0,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950.0,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [18]:
# Calculate the mean of the column
mean_value =country_wise['NewDeaths'].mean()
# Replace null values with the mean
country_wise['NewDeaths'].fillna(mean_value, inplace=True)

# Calculate the mean of the column
mean_value = country_wise['NewCases'].mean()
# Replace null values with the mean
country_wise['NewCases'].fillna(mean_value, inplace=True)

# Calculate the mean of the column
mean_value = country_wise['NewRecovered'].mean()
# Replace null values with the mean
country_wise['NewRecovered'].fillna(mean_value, inplace=True)

country_wise.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,NewCases,NewDeaths,NewRecovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263.0,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880.0,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973.0,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907.0,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950.0,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [19]:
# Calculate the mean of the column
mean_value = worldometer_data['NewDeaths'].mean()
# Replace null values with the mean
worldometer_data['NewDeaths'].fillna(mean_value, inplace=True)

# Calculate the mean of the column
mean_value = worldometer_data['NewCases'].mean()
# Replace null values with the mean
worldometer_data['NewCases'].fillna(mean_value, inplace=True)

# Calculate the mean of the column
mean_value = worldometer_data['NewRecovered'].mean()
# Replace null values with the mean
worldometer_data['NewRecovered'].fillna(mean_value, inplace=True)

worldometer_data.head()

,Country,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179.0,1980.5,162804.0,300.0,2576668.0,1706.0,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562.0,1980.5,98644.0,300.0,2047660.0,1706.0,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409.0,1980.5,41638.0,300.0,1377384.0,1706.0,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894.0,1980.5,14606.0,300.0,676357.0,1706.0,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184.0,1980.5,9604.0,300.0,387316.0,1706.0,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa

In [20]:
day_wise.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country/Region          187 non-null    object
 1   Confirmed               187 non-null    float64
 2   Deaths                  187 non-null    int64
 3   Recovered               187 non-null    int64
 4   Active                  187 non-null    int64
 5   NewCases                187 non-null    int64
 6   NewDeaths               187 non-null    int64
 7   NewRecovered            187 non-null    int64
 8   Deaths / 100 Cases      187 non-null    float64
 9   Recovered / 100 Cases   187 non-null    float64
 10  Deaths / 100 Recovered  187 non-null    float64
 11  Confirmed last week     187 non-null    int64
 12  1 week change           187 non-null    int64
 13  1 week % increase       187 non-null    float64
 14  WHO Region              187 non-null    object
dtypes: float64(5), int64(8), object(2)
memory usage: 22.0+ KB

In [21]:
country_wise.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country/Region          187 non-null    object
 1   Confirmed               187 non-null    float64
 2   Deaths                  187 non-null    int64
 3   Recovered               187 non-null    int64
 4   Active                  187 non-null    int64
 5   NewCases                187 non-null    int64
 6   NewDeaths               187 non-null    int64
 7   NewRecovered            187 non-null    int64
 8   Deaths / 100 Cases      187 non-null    float64
 9   Recovered / 100 Cases   187 non-null    float64
 10  Deaths / 100 Recovered  187 non-null    float64
 11  Confirmed last week     187 non-null    int64
 12  1 week change           187 non-null    int64
 13  1 week % increase       187 non-null    float64
 14  WHO Region              187 non-null    object
dtypes: float64(5), int64(8), object(2)
memory usage: 22.0+ KB

In [22]:
worldometer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country           209 non-null    object
 1   Continent         208 non-null    object
 2   Population        208 non-null    float64
 3   TotalCases        209 non-null    float64
 4   NewCases          209 non-null    float64
 5   TotalDeaths       188 non-null    float64
 6   NewDeaths         209 non-null    float64
 7   TotalRecovered    205 non-null    float64
 8   NewRecovered      209 non-null    float64
 9   ActiveCases       205 non-null    float64
 10  Serious,Critical  122 non-null    float64
 11  Tot Cases/1M pop  208 non-null    float64
 12  Deaths/1M pop     187 non-null    float64
 13  TotalTests        191 non-null    float64
 14  Tests/1M pop      191 non-null    float64
 15  WHO Region        184 non-null    object
dtypes: float64(13), object(3)
memory usage: 26.2+ KB

In [23]:
day_wise.isna().sum()

Country/Region            0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
NewCases                  0
NewDeaths                 0
NewRecovered              0
Deaths / 100 Cases        0
Recovered / 100 Cases     0
Deaths / 100 Recovered    0
Confirmed last week       0
1 week change             0
1 week % increase         0
WHO Region                0
dtype: int64

In [24]:
worldometer_data.isna().sum()

Country              0
Continent            1
Population           1
TotalCases           0
NewCases             0
TotalDeaths         21
NewDeaths            0
TotalRecovered       4
NewRecovered         0
ActiveCases          4
Serious,Critical    87
Tot Cases/1M pop     1
Deaths/1M pop       22
TotalTests          18
Tests/1M pop        18
WHO Region          25
dtype: int64

In [25]:
country_wise.isna().sum()

Country/Region            0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
NewCases                  0
NewDeaths                 0
NewRecovered              0
Deaths / 100 Cases        0
Recovered / 100 Cases     0
Deaths / 100 Recovered    0
Confirmed last week       0
1 week change             0
1 week % increase         0
WHO Region                0
dtype: int64

In [26]:
columns_of_interest = ['NewCases', 'NewRecovered', 'NewDeaths']

country_wise = country_wise[columns_of_interest]
day_wise = day_wise[columns_of_interest]
worldometer_data = worldometer_data[columns_of_interest]

In [27]:
# Merge datasets
merged_df = country_wise.merge(worldometer_data, on='NewCases', how='left', suffixes=('_cases', '_deaths'))
merged_df = merged_df.merge(day_wise, on='NewCases', how='left', suffixes=('', '_hiv'))

C:\Users\Umer Khan\AppData\Local\Temp\ipykernel_12264\2365457165.py:2: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation.
  merged_df = country_wise.merge(worldometer_data, on='NewCases', how='left', suffixes=('_cases', '_deaths'))

In [28]:
merged_df = pd.DataFrame(merged_df)
merged_df.isna().sum()
merged_df.drop(columns=["NewRecovered_deaths" , "NewDeaths_deaths"], inplace=True)

merged_df.to_csv('corona_data.csv')

# SUMMARIZATION

In [29]:
# Assuming 'merged_df' is your enriched DataFrame

# Calculate summary statistics for the 'Count' column
count_summary = merged_df['NewCases'].describe()

# Calculate mean for each region
region_mean = merged_df.groupby('NewCases')['NewCases'].mean()

# Display summary statistics
print("Summary statistics for 'NewCases' column:")
print(count_summary)

print("\nMean 'NewCases' for each WHO Region:")
print(region_mean)

Summary statistics for 'NewCases' column:
count     1353.000000
mean       170.730968
std       2159.649080
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max      56336.000000
Name: NewCases, dtype: float64

Mean 'NewCases' for each WHO Region:
NewCases
0            0.0
1            1.0
2            2.0
3            3.0
4            4.0
          ...
13756    13756.0
16306    16306.0
23284    23284.0
44457    44457.0
56336    56336.0
Name: NewCases, Length: 122, dtype: float64

# LOAD

In [30]:
connection_string = "mongodb+srv://umer62490:lajibolala@cluster0.b6f1enp.mongodb.net/?retryWrites=true&w=majority"

cluster = pymongo.MongoClient(connection_string)

corona_database = cluster["Corona_Database"]

collection_corona = corona_database["corona_details"]

collection_corona.insert_many(merged_df.to_dict("records"))

InsertManyResult([ObjectId('65991b62aa98a5cf5ac11846'), ObjectId('65991b62aa98a5cf5ac11847'), ObjectId('65991b62aa98a5cf5ac11848'), ObjectId('65991b62aa98a5cf5ac11849'), ObjectId('65991b62aa98a5cf5ac1184a'), ObjectId('65991b62aa98a5cf5ac1184b'), ObjectId('65991b62aa98a5cf5ac1184c'), ObjectId('65991b62aa98a5cf5ac1184d'), ObjectId('65991b62aa98a5cf5ac1184e'), ObjectId('65991b62aa98a5cf5ac1184f'), ObjectId('65991b62aa98a5cf5ac11850'), ObjectId('65991b62aa98a5cf5ac11851'), ObjectId('65991b62aa98a5cf5ac11852'), ObjectId('65991b62aa98a5cf5ac11853'), ObjectId('65991b62aa98a5cf5ac11854'), ObjectId('65991b62aa98a5cf5ac11855'), ObjectId('65991b62aa98a5cf5ac11856'), ObjectId('65991b62aa98a5cf5ac11857'), ObjectId('65991b62aa98a5cf5ac11858'), ObjectId('65991b62aa98a5cf5ac11859'), ObjectId('65991b62aa98a5cf5ac1185a'), ObjectId('65991b62aa98a5cf5ac1185b'), ObjectId('65991b62aa98a5cf5ac1185c'), ObjectId('65991b62aa98a5cf5ac1185d'), ObjectId('65991b62aa98a5cf5ac1185e'), ObjectId('65991b62aa98a5cf5ac1185f'), ObjectId('65991b62aa98a5cf5ac11860'), ObjectId('65991b62aa98a5cf5ac11861'), ObjectId('65991b62aa98a5cf5ac11862'), ObjectId('65991b62aa98a5cf5ac11863'), ObjectId('65991b62aa98a5cf5ac11864'), ObjectId('65991b62aa98a5cf5ac11865'), ObjectId('65991b62aa98a5cf5ac11866'), ObjectId('65991b62aa98a5cf5ac11867'), ObjectId('65991b62aa98a5cf5ac11868'), ObjectId('65991b62aa98a5cf5ac11869'), ObjectId('65991b62aa98a5cf5ac1186a'), ObjectId('65991b62aa98a5cf5ac1186b'), ObjectId('65991b62aa98a5cf5ac1186c'), ObjectId('65991b62aa98a5cf5ac1186d'), ObjectId('65991b62aa98a5cf5ac1186e'), ObjectId('65991b62aa98a5cf5ac1186f'), ObjectId('65991b62aa98a5cf5ac11870'), ObjectId('65991b62aa98a5cf5ac11871'), ObjectId('65991b62aa98a5cf5ac11872'), ObjectId('65991b62aa98a5cf5ac11873'), ObjectId('65991b62aa98a5cf5ac11874'), ObjectId('65991b62aa98a5cf5ac11875'), ObjectId('65991b62aa98a5cf5ac11876'), ObjectId('65991b62aa98a5cf5ac11877'), ObjectId('65991b62aa98a5cf5ac11878'), ObjectId('65991b62aa98a5cf5ac11879'), ObjectId('65991b62aa98a5cf5ac1187a'), ObjectId('65991b62aa98a5cf5ac1187b'), ObjectId('65991b62aa98a5cf5ac1187c'), ObjectId('65991b62aa98a5cf5ac1187d'), ObjectId('65991b62aa98a5cf5ac1187e'), ObjectId('65991b62aa98a5cf5ac1187f'), ObjectId('65991b62aa98a5cf5ac11880'), ObjectId('65991b62aa98a5cf5ac11881'), ObjectId('65991b62aa98a5cf5ac11882'), ObjectId('65991b62aa98a5cf5ac11883'), ObjectId('65991b62aa98a5cf5ac11884'), ObjectId('65991b62aa98a5cf5ac11885'), ObjectId('65991b62aa98a5cf5ac11886'), ObjectId('65991b62aa98a5cf5ac11887'), ObjectId('65991b62aa98a5cf5ac11888'), ObjectId('65991b62aa98a5cf5ac11889'), ObjectId('65991b62aa98a5cf5ac1188a'), ObjectId('65991b62aa98a5cf5ac1188b'), ObjectId('65991b62aa98a5cf5ac1188c'), ObjectId('65991b62aa98a5cf5ac1188d'), ObjectId('65991b62aa98a5cf5ac1188e'), ObjectId('65991b62aa98a5cf5ac1188f'), ObjectId('65991b62aa98a5cf5ac11890'), ObjectId('65991b62aa98a5cf5ac11891'), ObjectId('65991b62aa98a5cf5ac11892'), ObjectId('65991b62aa98a5cf5ac11893'), ObjectId('65991b62aa98a5cf5ac11894'), ObjectId('65991b62aa98a5cf5ac11895'), ObjectId('65991b62aa98a5cf5ac11896'), ObjectId('65991b62aa98a5cf5ac11897'), ObjectId('65991b62aa98a5cf5ac11898'), ObjectId('65991b62aa98a5cf5ac11899'), ObjectId('65991b62aa98a5cf5ac1189a'), ObjectId('65991b62aa98a5cf5ac1189b'), ObjectId('65991b62aa98a5cf5ac1189c'), ObjectId('65991b62aa98a5cf5ac1189d'), ObjectId('65991b62aa98a5cf5ac1189e'), ObjectId('65991b62aa98a5cf5ac1189f'), ObjectId('65991b62aa98a5cf5ac118a0'), ObjectId('65991b62aa98a5cf5ac118a1'), ObjectId('65991b62aa98a5cf5ac118a2'), ObjectId('65991b62aa98a5cf5ac118a3'), ObjectId('65991b62aa98a5cf5ac118a4'), ObjectId('65991b62aa98a5cf5ac118a5'), ObjectId('65991b62aa98a5cf5ac118a6'), ObjectId('65991b62aa98a5cf5ac118a7'), ObjectId('65991b62aa98a5cf5ac118a8'), ObjectId('65991b62aa98a5cf5ac118a9'), ObjectId('65991b62aa98a5cf5ac118aa'), ObjectId('65991b62aa98a5cf5ac118ab'), ObjectId('65991b62aa98a5cf5ac118ac'), ObjectId('65991b62aa98a5cf5ac118ad'), ObjectId('65991b62aa98a5cf5ac118ae'), ObjectId('65991b62aa98a5cf5ac118af'), ObjectId('65991b62aa98a5cf5ac118b0'), ObjectId('65991b62aa98a5cf5ac118b1'), ObjectId('65991b62aa98a5cf5ac118b2'), ObjectId('65991b62aa98a5cf5ac118b3'), ObjectId('65991b62aa98a5cf5ac118b4'), ObjectId('65991b62aa98a5cf5ac118b5'), ObjectId('65991b62aa98a5cf5ac118b6'), ObjectId('65991b62aa98a5cf5ac118b7'), ObjectId('65991b62aa98a5cf5ac118b8'), ObjectId('65991b62aa98a5cf5ac118b9'), ObjectId('65991b62aa98a5cf5ac118ba'), ObjectId('65991b62aa98a5cf5ac118bb'), ObjectId('65991b62aa98a5cf5ac118bc'), ObjectId('65991b62aa98a5cf5ac118bd'), ObjectId('65991b62aa98a5cf5ac118be'), ObjectId('65991b62aa98a5cf5ac118bf'), ObjectId('65991b62aa98a5cf5ac118c0'), ObjectId('65991b62aa98a5cf5ac118c1'), ObjectId('65991b62aa98a5cf5ac118c2'), ObjectId('65991b62aa98a5cf5ac118c3'), ObjectId('65991b62aa98a5cf5ac118c4'), ObjectId('65991b62aa98a5cf5ac118c5'), ObjectId('65991b62aa98a5cf5ac118c6'), ObjectId('65991b62aa98a5cf5ac118c7'), ObjectId('65991b62aa98a5cf5ac118c8'), ObjectId('65991b62aa98a5cf5ac118c9'), ObjectId('65991b62aa98a5cf5ac118ca'), ObjectId('65991b62aa98a5cf5ac118cb'), ObjectId('65991b62aa98a5cf5ac118cc'), ObjectId('65991b62aa98a5cf5ac118cd'), ObjectId('65991b62aa98a5cf5ac118ce'), ObjectId('65991b62aa98a5cf5ac118cf'), ObjectId('65991b62aa98a5cf5ac118d0'), ObjectId('65991b62aa98a5cf5ac118d1'), ObjectId('65991b62aa98a5cf5ac118d2'), ObjectId('65991b62aa98a5cf5ac118d3'), ObjectId('65991b62aa98a5cf5ac118d4'), ObjectId('65991b62aa98a5cf5ac118d5'), ObjectId('65991b62aa98a5cf5ac118d6'), ObjectId('65991b62aa98a5cf5ac118d7'), ObjectId('65991b62aa98a5cf5ac118d8'), ObjectId('65991b62aa98a5cf5ac118d9'), ObjectId('65991b62aa98a5cf5ac118da'), ObjectId('65991b62aa98a5cf5ac118db'), ObjectId('65991b62aa98a5cf5ac118dc'), ObjectId('65991b62aa98a5cf5ac118dd'), ObjectId('65991b62aa98a5cf5ac118de'), ObjectId('65991b62aa98a5cf5ac118df'), ObjectId('65991b62aa98a5cf5ac118e0'), ObjectId('65991b62aa98a5cf5ac118e1'), ObjectId('65991b62aa98a5cf5ac118e2'), ObjectId('65991b62aa98a5cf5ac118e3'), ObjectId('65991b62aa98a5cf5ac118e4'), ObjectId('65991b62aa98a5cf5ac118e5'), ObjectId('65991b62aa98a5cf5ac118e6'), ObjectId('65991b62aa98a5cf5ac118e7'), ObjectId('65991b62aa98a5cf5ac118e8'), ObjectId('65991b62aa98a5cf5ac118e9'), ObjectId('65991b62aa98a5cf5ac118ea'), ObjectId('65991b62aa98a5cf5ac118eb'), ObjectId('65991b62aa98a5cf5ac118ec'), ObjectId('65991b62aa98a5cf5ac118ed'), ObjectId('65991b62aa98a5cf5ac118ee'), ObjectId('65991b62aa98a5cf5ac118ef'), ObjectId('65991b62aa98a5cf5ac118f0'), ObjectId('65991b62aa98a5cf5ac118f1'), ObjectId('65991b62aa98a5cf5ac118f2'), ObjectId('65991b62aa98a5cf5ac118f3'), ObjectId('65991b62aa98a5cf5ac118f4'), ObjectId('65991b62aa98a5cf5ac118f5'), ObjectId('65991b62aa98a5cf5ac118f6'), ObjectId('65991b62aa98a5cf5ac118f7'), ObjectId('65991b62aa98a5cf5ac118f8'), ObjectId('65991b62aa98a5cf5ac118f9'), ObjectId('65991b62aa98a5cf5ac118fa'), ObjectId('65991b62aa98a5cf5ac118fb'), ObjectId('65991b62aa98a5cf5ac118fc'), ObjectId('65991b62aa98a5cf5ac118fd'), ObjectId('65991b62aa98a5cf5ac118fe'), ObjectId('65991b62aa98a5cf5ac118ff'), ObjectId('65991b62aa98a5cf5ac11900'), ObjectId('65991b62aa98a5cf5ac11901'), ObjectId('65991b62aa98a5cf5ac11902'), ObjectId('65991b62aa98a5cf5ac11903'), ObjectId('65991b62aa98a5cf5ac11904'), ObjectId('65991b62aa98a5cf5ac11905'), ObjectId('65991b62aa98a5cf5ac11906'), ObjectId('65991b62aa98a5cf5ac11907'), ObjectId('65991b62aa98a5cf5ac11908'), ObjectId('65991b62aa98a5cf5ac11909'), ObjectId('65991b62aa98a5cf5ac1190a'), ObjectId('65991b62aa98a5cf5ac1190b'), ObjectId('65991b62aa98a5cf5ac1190c'), ObjectId('65991b62aa98a5cf5ac1190d'), ObjectId('65991b62aa98a5cf5ac1190e'), ObjectId('65991b62aa98a5cf5ac1190f'), ObjectId('65991b62aa98a5cf5ac11910'), ObjectId('65991b62aa98a5cf5ac11911'), ObjectId('65991b62aa98a5cf5ac11912'), ObjectId('65991b62aa98a5cf5ac11913'), ObjectId('65991b62aa98a5cf5ac11914'), ObjectId('65991b62aa98a5cf5ac11915'), ObjectId('65991b62aa98a5cf5ac11916'), ObjectId('65991b62aa98a5cf5ac11917'), ObjectId('65991b62aa98a5cf5ac11918'), ObjectId('65991b62aa98a5cf5ac11919'), ObjectId('65991b62aa98a5cf5ac1191a'), ObjectId('65991b62aa98a5cf5ac1191b'), ObjectId('65991b62aa98a5cf5ac1191c'), ObjectId('65991b62aa98a5cf5ac1191d'), ObjectId('65991b62aa98a5cf5ac1191e'), ObjectId('65991b62aa98a5cf5ac1191f'), ObjectId('65991b62aa98a5cf5ac11920'), ObjectId('65991b62aa98a5cf5ac11921'), ObjectId('65991b62aa98a5cf5ac11922'), ObjectId('65991b62aa98a5cf5ac11923'), ObjectId('65991b62aa98a5cf5ac11924'), ObjectId('65991b62aa98a5cf5ac11925'), ObjectId('65991b62aa98a5cf5ac11926'), ObjectId('65991b62aa98a5cf5ac11927'), ObjectId('65991b62aa98a5cf5ac11928'), ObjectId('65991b62aa98a5cf5ac11929'), ObjectId('65991b62aa98a5cf5ac1192a'), ObjectId('65991b62aa98a5cf5ac1192b'), ObjectId('65991b62aa98a5cf5ac1192c'), ObjectId('65991b62aa98a5cf5ac1192d'), ObjectId('65991b62aa98a5cf5ac1192e'), ObjectId('65991b62aa98a5cf5ac1192f'), ObjectId('65991b62aa98a5cf5ac11930'), ObjectId('65991b62aa98a5cf5ac11931'), ObjectId('65991b62aa98a5cf5ac11932'), ObjectId('65991b62aa98a5cf5ac11933'), ObjectId('65991b62aa98a5cf5ac11934'), ObjectId('65991b62aa98a5cf5ac11935'), ObjectId('65991b62aa98a5cf5ac11936'), ObjectId('65991b62aa98a5cf5ac11937'), ObjectId('65991b62aa98a5cf5ac11938'), ObjectId('65991b62aa98a5cf5ac11939'), ObjectId('65991b62aa98a5cf5ac1193a'), ObjectId('65991b62aa98a5cf5ac1193b'), ObjectId('65991b62aa98a5cf5ac1193c'), ObjectId('65991b62aa98a5cf5ac1193d'), ObjectId('65991b62aa98a5cf5ac1193e'), ObjectId('65991b62aa98a5cf5ac1193f'), ObjectId('65991b62aa98a5cf5ac11940'), ObjectId('65991b62aa98a5cf5ac11941'), ObjectId('65991b62aa98a5cf5ac11942'), ObjectId('65991b62aa98a5cf5ac11943'), ObjectId('65991b62aa98a5cf5ac11944'), ObjectId('65991b62aa98a5cf5ac11945'), ObjectId('65991b62aa98a5cf5ac11946'), ObjectId('65991b62aa98a5cf5ac11947'), ObjectId('65991b62aa98a5cf5ac11948'), ObjectId('65991b62aa98a5cf5ac11949'), ObjectId('65991b62aa98a5cf5ac1194a'), ObjectId('65991b62aa98a5cf5ac1194b'), ObjectId('65991b62aa98a5cf5ac1194c'), ObjectId('65991b62aa98a5cf5ac1194d'), ObjectId('65991b62aa98a5cf5ac1194e'), ObjectId('65991b62aa98a5cf5ac1194f'), ObjectId('65991b62aa98a5cf5ac11950'), ObjectId('65991b62aa98a5cf5ac11951'), ObjectId('65991b62aa98a5cf5ac11952'), ObjectId('65991b62aa98a5cf5ac11953'), ObjectId('65991b62aa98a5cf5ac11954'), ObjectId('65991b62aa98a5cf5ac11955'), ObjectId('65991b62aa98a5cf5ac11956'), ObjectId('65991b62aa98a5cf5ac11957'), ObjectId('65991b62aa98a5cf5ac11958'), ObjectId('65991b62aa98a5cf5ac11959'), ObjectId('65991b62aa98a5cf5ac1195a'), ObjectId('65991b62aa98a5cf5ac1195b'), ObjectId('65991b62aa98a5cf5ac1195c'), ObjectId('65991b62aa98a5cf5ac1195d'), ObjectId('65991b62aa98a5cf5ac1195e'), ObjectId('65991b62aa98a5cf5ac1195f'), ObjectId('65991b62aa98a5cf5ac11960'), ObjectId('65991b62aa98a5cf5ac11961'), ObjectId('65991b62aa98a5cf5ac11962'), ObjectId('65991b62aa98a5cf5ac11963'), ObjectId('65991b62aa98a5cf5ac11964'), ObjectId('65991b62aa98a5cf5ac11965'), ObjectId('65991b62aa98a5cf5ac11966'), ObjectId('65991b62aa98a5cf5ac11967'), ObjectId('65991b62aa98a5cf5ac11968'), ObjectId('65991b62aa98a5cf5ac11969'), ObjectId('65991b62aa98a5cf5ac1196a'), ObjectId('65991b62aa98a5cf5ac1196b'), ObjectId('65991b62aa98a5cf5ac1196c'), ObjectId('65991b62aa98a5cf5ac1196d'), ObjectId('65991b62aa98a5cf5ac1196e'), ObjectId('65991b62aa98a5cf5ac1196f'), ObjectId('65991b62aa98a5cf5ac11970'), ObjectId('65991b62aa98a5cf5ac11971'), ObjectId('65991b62aa98a5cf5ac11972'), ObjectId('65991b62aa98a5cf5ac11973'), ObjectId('65991b62aa98a5cf5ac11974'), ObjectId('65991b62aa98a5cf5ac11975'), ObjectId('65991b62aa98a5cf5ac11976'), ObjectId('65991b62aa98a5cf5ac11977'), ObjectId('65991b62aa98a5cf5ac11978'), ObjectId('65991b62aa98a5cf5ac11979'), ObjectId('65991b62aa98a5cf5ac1197a'), ObjectId('65991b62aa98a5cf5ac1197b'), ObjectId('65991b62aa98a5cf5ac1197c'), ObjectId('65991b62aa98a5cf5ac1197d'), ObjectId('65991b62aa98a5cf5ac1197e'), ObjectId('65991b62aa98a5cf5ac1197f'), ObjectId('65991b62aa98a5cf5ac11980'), ObjectId('65991b62aa98a5cf5ac11981'), ObjectId('65991b62aa98a5cf5ac11982'), ObjectId('65991b62aa98a5cf5ac11983'), ObjectId('65991b62aa98a5cf5ac11984'), ObjectId('65991b62aa98a5cf5ac11985'), ObjectId('65991b62aa98a5cf5ac11986'), ObjectId('65991b62aa98a5cf5ac11987'), ObjectId('65991b62aa98a5cf5ac11988'), ObjectId('65991b62aa98a5cf5ac11989'), ObjectId('65991b62aa98a5cf5ac1198a'), ObjectId('65991b62aa98a5cf5ac1198b'), ObjectId('65991b62aa98a5cf5ac1198c'), ObjectId('65991b62aa98a5cf5ac1198d'), ObjectId('65991b62aa98a5cf5ac1198e'), ObjectId('65991b62aa98a5cf5ac1198f'), ObjectId('65991b62aa98a5cf5ac11990'), ObjectId('65991b62aa98a5cf5ac11991'), ObjectId('65991b62aa98a5cf5ac11992'), ObjectId('65991b62aa98a5cf5ac11993'), ObjectId('65991b62aa98a5cf5ac11994'), ObjectId('65991b62aa98a5cf5ac11995'), ObjectId('65991b62aa98a5cf5ac11996'), ObjectId('65991b62aa98a5cf5ac11997'), ObjectId('65991b62aa98a5cf5ac11998'), ObjectId('65991b62aa98a5cf5ac11999'), ObjectId('65991b62aa98a5cf5ac1199a'), ObjectId('65991b62aa98a5cf5ac1199b'), ObjectId('65991b62aa98a5cf5ac1199c'), ObjectId('65991b62aa98a5cf5ac1199d'), ObjectId('65991b62aa98a5cf5ac1199e'), ObjectId('65991b62aa98a5cf5ac1199f'), ObjectId('65991b62aa98a5cf5ac119a0'), ObjectId('65991b62aa98a5cf5ac119a1'), ObjectId('65991b62aa98a5cf5ac119a2'), ObjectId('65991b62aa98a5cf5ac119a3'), ObjectId('65991b62aa98a5cf5ac119a4'), ObjectId('65991b62aa98a5cf5ac119a5'), ObjectId('65991b62aa98a5cf5ac119a6'), ObjectId('65991b62aa98a5cf5ac119a7'), ObjectId('65991b62aa98a5cf5ac119a8'), ObjectId('65991b62aa98a5cf5ac119a9'), ObjectId('65991b62aa98a5cf5ac119aa'), ObjectId('65991b62aa98a5cf5ac119ab'), ObjectId('65991b62aa98a5cf5ac119ac'), ObjectId('65991b62aa98a5cf5ac119ad'), ObjectId('65991b62aa98a5cf5ac119ae'), ObjectId('65991b62aa98a5cf5ac119af'), ObjectId('65991b62aa98a5cf5ac119b0'), ObjectId('65991b62aa98a5cf5ac119b1'), ObjectId('65991b62aa98a5cf5ac119b2'), ObjectId('65991b62aa98a5cf5ac119b3'), ObjectId('65991b62aa98a5cf5ac119b4'), ObjectId('65991b62aa98a5cf5ac119b5'), ObjectId('65991b62aa98a5cf5ac119b6'), ObjectId('65991b62aa98a5cf5ac119b7'), ObjectId('65991b62aa98a5cf5ac119b8'), ObjectId('65991b62aa98a5cf5ac119b9'), ObjectId('65991b62aa98a5cf5ac119ba'), ObjectId('65991b62aa98a5cf5ac119bb'), ObjectId('65991b62aa98a5cf5ac119bc'), ObjectId('65991b62aa98a5cf5ac119bd'), ObjectId('65991b62aa98a5cf5ac119be'), ObjectId('65991b62aa98a5cf5ac119bf'), ObjectId('65991b62aa98a5cf5ac119c0'), ObjectId('65991b62aa98a5cf5ac119c1'), ObjectId('65991b62aa98a5cf5ac119c2'), ObjectId('65991b62aa98a5cf5ac119c3'), ObjectId('65991b62aa98a5cf5ac119c4'), ObjectId('65991b62aa98a5cf5ac119c5'), ObjectId('65991b62aa98a5cf5ac119c6'), ObjectId('65991b62aa98a5cf5ac119c7'), ObjectId('65991b62aa98a5cf5ac119c8'), ObjectId('65991b62aa98a5cf5ac119c9'), ObjectId('65991b62aa98a5cf5ac119ca'), ObjectId('65991b62aa98a5cf5ac119cb'), ObjectId('65991b62aa98a5cf5ac119cc'), ObjectId('65991b62aa98a5cf5ac119cd'), ObjectId('65991b62aa98a5cf5ac119ce'), ObjectId('65991b62aa98a5cf5ac119cf'), ObjectId('65991b62aa98a5cf5ac119d0'), ObjectId('65991b62aa98a5cf5ac119d1'), ObjectId('65991b62aa98a5cf5ac119d2'), ObjectId('65991b62aa98a5cf5ac119d3'), ObjectId('65991b62aa98a5cf5ac119d4'), ObjectId('65991b62aa98a5cf5ac119d5'), ObjectId('65991b62aa98a5cf5ac119d6'), ObjectId('65991b62aa98a5cf5ac119d7'), ObjectId('65991b62aa98a5cf5ac119d8'), ObjectId('65991b62aa98a5cf5ac119d9'), ObjectId('65991b62aa98a5cf5ac119da'), ObjectId('65991b62aa98a5cf5ac119db'), ObjectId('65991b62aa98a5cf5ac119dc'), ObjectId('65991b62aa98a5cf5ac119dd'), ObjectId('65991b62aa98a5cf5ac119de'), ObjectId('65991b62aa98a5cf5ac119df'), ObjectId('65991b62aa98a5cf5ac119e0'), ObjectId('65991b62aa98a5cf5ac119e1'), ObjectId('65991b62aa98a5cf5ac119e2'), ObjectId('65991b62aa98a5cf5ac119e3'), ObjectId('65991b62aa98a5cf5ac119e4'), ObjectId('65991b62aa98a5cf5ac119e5'), ObjectId('65991b62aa98a5cf5ac119e6'), ObjectId('65991b62aa98a5cf5ac119e7'), ObjectId('65991b62aa98a5cf5ac119e8'), ObjectId('65991b62aa98a5cf5ac119e9'), ObjectId('65991b62aa98a5cf5ac119ea'), ObjectId('65991b62aa98a5cf5ac119eb'), ObjectId('65991b62aa98a5cf5ac119ec'), ObjectId('65991b62aa98a5cf5ac119ed'), ObjectId('65991b62aa98a5cf5ac119ee'), ObjectId('65991b62aa98a5cf5ac119ef'), ObjectId('65991b62aa98a5cf5ac119f0'), ObjectId('65991b62aa98a5cf5ac119f1'), ObjectId('65991b62aa98a5cf5ac119f2'), ObjectId('65991b62aa98a5cf5ac119f3'), ObjectId('65991b62aa98a5cf5ac119f4'), ObjectId('65991b62aa98a5cf5ac119f5'), ObjectId('65991b62aa98a5cf5ac119f6'), ObjectId('65991b62aa98a5cf5ac119f7'), ObjectId('65991b62aa98a5cf5ac119f8'), ObjectId('65991b62aa98a5cf5ac119f9'), ObjectId('65991b62aa98a5cf5ac119fa'), ObjectId('65991b62aa98a5cf5ac119fb'), ObjectId('65991b62aa98a5cf5ac119fc'), ObjectId('65991b62aa98a5cf5ac119fd'), ObjectId('65991b62aa98a5cf5ac119fe'), ObjectId('65991b62aa98a5cf5ac119ff'), ObjectId('65991b62aa98a5cf5ac11a00'), ObjectId('65991b62aa98a5cf5ac11a01'), ObjectId('65991b62aa98a5cf5ac11a02'), ObjectId('65991b62aa98a5cf5ac11a03'), ObjectId('65991b62aa98a5cf5ac11a04'), ObjectId('65991b62aa98a5cf5ac11a05'), ObjectId('65991b62aa98a5cf5ac11a06'), ObjectId('65991b62aa98a5cf5ac11a07'), ObjectId('65991b62aa98a5cf5ac11a08'), ObjectId('65991b62aa98a5cf5ac11a09'), ObjectId('65991b62aa98a5cf5ac11a0a'), ObjectId('65991b62aa98a5cf5ac11a0b'), ObjectId('65991b62aa98a5cf5ac11a0c'), ObjectId('65991b62aa98a5cf5ac11a0d'), ObjectId('65991b62aa98a5cf5ac11a0e'), ObjectId('65991b62aa98a5cf5ac11a0f'), ObjectId('65991b62aa98a5cf5ac11a10'), ObjectId('65991b62aa98a5cf5ac11a11'), ObjectId('65991b62aa98a5cf5ac11a12'), ObjectId('65991b62aa98a5cf5ac11a13'), ObjectId('65991b62aa98a5cf5ac11a14'), ObjectId('65991b62aa98a5cf5ac11a15'), ObjectId('65991b62aa98a5cf5ac11a16'), ObjectId('65991b62aa98a5cf5ac11a17'), ObjectId('65991b62aa98a5cf5ac11a18'), ObjectId('65991b62aa98a5cf5ac11a19'), ObjectId('65991b62aa98a5cf5ac11a1a'), ObjectId('65991b62aa98a5cf5ac11a1b'), ObjectId('65991b62aa98a5cf5ac11a1c'), ObjectId('65991b62aa98a5cf5ac11a1d'), ObjectId('65991b62aa98a5cf5ac11a1e'), ObjectId('65991b62aa98a5cf5ac11a1f'), ObjectId('65991b62aa98a5cf5ac11a20'), ObjectId('65991b62aa98a5cf5ac11a21'), ObjectId('65991b62aa98a5cf5ac11a22'), ObjectId('65991b62aa98a5cf5ac11a23'), ObjectId('65991b62aa98a5cf5ac11a24'), ObjectId('65991b62aa98a5cf5ac11a25'), ObjectId('65991b62aa98a5cf5ac11a26'), ObjectId('65991b62aa98a5cf5ac11a27'), ObjectId('65991b62aa98a5cf5ac11a28'), ObjectId('65991b62aa98a5cf5ac11a29'), ObjectId('65991b62aa98a5cf5ac11a2a'), ObjectId('65991b62aa98a5cf5ac11a2b'), ObjectId('65991b62aa98a5cf5ac11a2c'), ObjectId('65991b62aa98a5cf5ac11a2d'), ObjectId('65991b62aa98a5cf5ac11a2e'), ObjectId('65991b62aa98a5cf5ac11a2f'), ObjectId('65991b62aa98a5cf5ac11a30'), ObjectId('65991b62aa98a5cf5ac11a31'), ObjectId('65991b62aa98a5cf5ac11a32'), ObjectId('65991b62aa98a5cf5ac11a33'), ObjectId('65991b62aa98a5cf5ac11a34'), ObjectId('65991b62aa98a5cf5ac11a35'), ObjectId('65991b62aa98a5cf5ac11a36'), ObjectId('65991b62aa98a5cf5ac11a37'), ObjectId('65991b62aa98a5cf5ac11a38'), ObjectId('65991b62aa98a5cf5ac11a39'), ObjectId('65991b62aa98a5cf5ac11a3a'), ObjectId('65991b62aa98a5cf5ac11a3b'), ObjectId('65991b62aa98a5cf5ac11a3c'), ObjectId('65991b62aa98a5cf5ac11a3d'), ObjectId('65991b62aa98a5cf5ac11a3e'), ObjectId('65991b62aa98a5cf5ac11a3f'), ObjectId('65991b62aa98a5cf5ac11a40'), ObjectId('65991b62aa98a5cf5ac11a41'), ObjectId('65991b62aa98a5cf5ac11a42'), ObjectId('65991b62aa98a5cf5ac11a43'), ObjectId('65991b62aa98a5cf5ac11a44'), ObjectId('65991b62aa98a5cf5ac11a45'), ObjectId('65991b62aa98a5cf5ac11a46'), ObjectId('65991b62aa98a5cf5ac11a47'), ObjectId('65991b62aa98a5cf5ac11a48'), ObjectId('65991b62aa98a5cf5ac11a49'), ObjectId('65991b62aa98a5cf5ac11a4a'), ObjectId('65991b62aa98a5cf5ac11a4b'), ObjectId('65991b62aa98a5cf5ac11a4c'), ObjectId('65991b62aa98a5cf5ac11a4d'), ObjectId('65991b62aa98a5cf5ac11a4e'), ObjectId('65991b62aa98a5cf5ac11a4f'), ObjectId('65991b62aa98a5cf5ac11a50'), ObjectId('65991b62aa98a5cf5ac11a51'), ObjectId('65991b62aa98a5cf5ac11a52'), ObjectId('65991b62aa98a5cf5ac11a